body{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px
}
#form{
    max-width: 100%;
    width: 740px;
    max-height: 100%;
    /* margin-top: 20px; */
    margin: auto;
    /* position: absolute; */
    top: 10%; bottom: 0;
    right: 0; left: 0;
    /* background-color: rgba(70, 81, 104, 0.144); */
    border: #547aaf solid 1px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 50px 5px rgba(28, 25, 201, 0.205);
    
    
}



#form input[type="text"]{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgb(36, 33, 33);
    background-color: transparent;
    outline: none;
    color: #121213;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    
}

#form input[type="text"]:hover
#form input[type="text"].active
#form input[type="text"]:focus-within
 {
    background-color: rgba(255, 255, 255, 0);
    
}


.strick{
    text-decoration: line-through
}

li a{
    text-decoration: none;
    float: right;
    color: #fff;
    font-size: 15px;
    background-color: #00aeff;
    padding: 7px 10px;
    border-radius: 20px;
    text-align: center;
    margin: -5px 30px 0 30px
    /* width: 100%; */

}

li span {
    text-align: center;
    padding-left: 200px;
}

li{
    list-style: none;
    width: 100%;
    padding: 10px  0;
    margin: 10px 0;

}
#control-btn{
    width: 100%;
    display: flex;
    justify-content: space-evenly
    

}

li:nth-child(odd){
    background-color: rgba(27, 77, 185, 0.233);
    
}

li:nth-child(even){
    /* background-color: rgba(27, 77, 185, 0.233); */
}

#control-btn a{
    color: white;
    background-color: #00aeff;
    border: 1 px solid;
    padding: 10px 10px;
    border-radius: 0;
    text-transform: capitalize;
    text-decoration: none;
    width: 150px;
    text-align: center
}

a i {
    color: white;
    padding: 0 10px;
    margin-top: -10px;
}

input[type="checkbox"]:checked{
    background-color: #00aeff
}





